{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Note Form</title>
        <style>
             #main {
		        font-family: 'Lobster';
                font-size: 20pt;
                text-align: center;
            }
            body {
            background-color: rgb(255, 214, 212);
            }
        </style>
    </head>
    <body>
        <header>
            <div id="main">
                <h1><a>Add List</a></h1>
                <h3>
                    <a href = "http://127.0.0.1:8000/lab-4/">INDEX</a>
                    <a href = "http://127.0.0.1:8000/lab-4/card">CARD</a>
                </h3>
            </div>
        </header>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>