{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Note List</title>
        <style>
        #main {
            background-color: #e9f19d;
		        font-family: 'Lobster';
            font-size: 20pt;
            text-align: center;
            margin: 20px;
        }
        #table{
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
            width: 50%;
            box-shadow: 5px 10px;
            background-color: azure;
        }
        body {
            background-color: rgb(166, 241, 195);
        }
        </style>
    </head>
    <body>
        <header class="page-header">
            <div id="main">
                <h1><a>Note List</a></h1>
                <a href = "http://127.0.0.1:8000/lab-4/add">ADD</a>
                <a href = "http://127.0.0.1:8000/lab-4">INDEX</a>
            </div>
        </header>
        <ul>
            {% for i in note %}
            <li>
                <div id='table'>
                <h2><b>Titles: {{i.Titles}}</b></h2>
                <h2><b>To: {{i.To}}</b></h2>
                <h2><b>From: {{i.From}}</b></h2>
                <h2><b>Message: {{i.Message}}</b></h2>
            {% endfor %}
            </div>
            </li>
        </ul>
    </body>
</html>
