{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Note List</title>
        <style>
        #main {
            background-color: #94e1f5;
		    font-family: 'Lobster';
            font-size: 20pt;
            text-align: center;
            margin: 20px;
        }
        table {
            margin: 20px;
            border-collapse: collapse;
            width: 75%;
            table-layout: auto;
        }
        th, td {
            padding: 20px;
        }
        tr  {
            background-color: #f2f2f2
        }
        th {
            background-color: #04AA6D;
            color: white;
        }
        body {
            background-color: rgb(201, 166, 241);
        }
        </style>
    </head>
    <body>
        <header>
            <div id="main">
                <h1><a>Note List</a></h1>
                <a href = "http://127.0.0.1:8000/lab-4/add">ADD</a>
                <a href = "http://127.0.0.1:8000/lab-4/card">CARD</a>
            </div>
        </header>
        <table>
            <tr>
                <th>Titles</th>
                <th>To</th>
                <th>From</th>
                <th>Message</th>
            </tr>
            {% for i in note %}
            <tr>
                <td>{{i.Titles}}<td>
                <td>{{i.To}}<td>
                <td>{{i.From}}<td>
                <td>{{i.Message}}<td>
            {% endfor %}
            </tr>
        </table>
    </body>
</html>