<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Note</title>
  </head>
  <body>
    <h1>Notes</h1>
  </body>
</html>
      <!-- EXAMPLE SECTION -->
      <tr>
        {% for i in note %}
          {{i.To}}
          {{i.From}}
          {{i.Titles}}
          {{i.Message}}
        <br/>
        {% endfor %}
        <p>To: Asmara Nugi</p>
        <p>From: Jevan</p>
        <p>Titles: Test</p>
        <p>Message: Hello World</p>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
